<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="APILoginID" value="58wGfHNyz9bA" />
		<add key="TransactionKey" value="6hC9KRrHqq839t3K" />
	</appSettings>
</configuration>